.lowest-reward{
    background-color: #ffb966;
 }

 .low-reward{
    background-color: #fe8368;
 }

 .high-reward{
    background-color: #ff5f5f;
 }

 .highest-reward{
    background-color: #ff467d;
 }

 .carditem{
    position: relative;
    height: 240px;
    width: 240px;
    border-radius: 8px;
    margin: 20px;
    overflow: hidden;
 }

.frontside,
.backside,
.taskdone{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.backside,
.taskdone{
    background-color: #ffe8db;
}