.lowest-reward{
   background-color: #ffb966;
}

.low-reward{
   background-color: #fe8368;
}

.high-reward{
   background-color: #ff5f5f;
}

.highest-reward{
   background-color: #ff467d;
}

.carditem{
   position: relative;
   height: 240px;
   width: 240px;
   border-radius: 8px;
   margin: 20px;
   overflow: hidden;
   transition: transform 1s;
   transform-style: preserve-3d;
}

.frontside,
.backside,
.cardcomplete{
   width: 100%;
   height: 100%;
   box-sizing: border-box;
}

.backside,
.cardcomplete{
   background-color: #ffe8db;
   transform: rotateY(180deg);
}

.carditem.is-flipped{
   transform: rotateY(180deg);
}

.frontside, .backside{
   position: absolute;
   /* backface-visibility: hidden; */
}